@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Poppins:wght@300;500&family=Ubuntu:wght@300&display=swap");

:root {
  --primary-color: #3772ff;
  --secondary-color: #36D6AD;
  --terciary-color: #FC7071;
  --cream: #FCF0E3;
  --dark-grey: #737380;
  --light-grey: #bcbcbc ;
  --white: #ffffff;
  --font-principal: "Poppins", sans-serif;
  --font-secundaria: "IBM Plex Sans", sans-serif;
  --font-size: 16px;
  --font-size-small: 14px;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

body {
  display: flex;
  flex-grow: 1;
  line-height: 1.5rem;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  position: absolute;
  top: 2rem;
  left: 3rem;
}

.navbar ul {
  display: flex;
  flex-direction: row;
}

.navbar li {
  margin-right: 3rem;
}

footer {
  background-color: #36D6AD;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}



